<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <script type="text/javascript" src="../angular.min.js"></script>
    </head>
    <body>
      <div ng-app="myApp">

          <div ng-controller="firstController">



              <input type="checkbox" ng-model="sel">
              <select>
                  <option>11111</option>
                  <option ng-selected="sel" >22222</option>
              </select>


              <input type="checkbox" ng-change="change()" ng-model="c" />
              {{c}}
              <br>


              <input type="text" value="你好" ng-copy="aaa='按下复制键的时候执行的事件'">{{aaa}}

              <input type="text" value="你好" ng-cut="bbb='按下剪切键的时候执行的事件'">{{bbb}}
              <input type="text" value="你好" ng-paste="ccc='按下黏贴键的时候执行的事件'">{{ccc}}



              <br>
              <br>

             <div ng-bind="text"></div>

              <div ng-cloak>{{text}}</div>


              <div ng-non-bindable>{{text}}</div>



          </div>
      </div>
      <script type="text/javascript">
          var app = angular.module("myApp", []);
          app.controller('firstController',function($scope){
                $scope.text='phonegap中文网';

              $scope.change=function(){
                if($scope.c==true){
                    alert('选中');
                }else{
                    alert('未选中');
                }
              }

          });
      </script>
       
    </body>
</html>