<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>无标题文档</title>
        <script type="text/javascript" src="../../angular.min.js"></script>
    </head>
    <body>
      <div ng-app="myApp">

          <div ng-controller="firstController"  ng-click="show()">
              {{name}}


              Message:
              <input type="text" ng-model="message"/>
              <button ng-click="$log.log(message)">log</button>
              <button ng-click="$log.warn(message)">warn</button>
              <button ng-click="$log.info(message)">info</button>
              <button ng-click="$log.error(message)">error</button>

              {{message}}
          </div>

      </div>
      <script type="text/javascript">
          var app = angular.module("myApp", []);
          app.controller('firstController',function($scope,$timeout,$log){
              $scope.name = 'hello';
//              setTimeout(function(){
//                  //$scope.name = 'hi';
//                  $scope.$apply(function(){
//                      $scope.name = 'hi';
//                  });
//              },2000);
              $timeout(function(){
                  $scope.name = '123';
               },1100);

              $scope.show = function(){
                  $scope.name = 'hi点击事件发生了';
              };

              $scope.$log = $log;
              $scope.message = 'Hello World!';

          });


      </script>
       
    </body>
</html>